/* Centering text in each gray box */
div.css-1ht1j8u.e16fv1kl0 {
    text-align: center;
  }
  
  /* Row 1 */
  div.css-lwivap2,elvioofd {
      background-color: rgb(63, 79, 107);
      padding: 3% 3% 3% 3%;
      border-radius: 5px;
  }
  